<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>WordPress CMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card *ngFor="let post of posts$ | async">
      <ion-card-header>
        <ion-card-title>{{post.post_title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Date <strong>{{post.post_date | date}}</strong></p>
        <p>By <strong>{{post.post_author}}</strong></p>
        <img
          [src]="post.post_thumbnail ? post.post_thumbnail : 'https://miro.medium.com/max/4800/1*jFsgUxz4Dm4HDIlpMjz8Sg.png'"
          alt="{{post.post_title}}"
        />
        <p [innerHTML]="post.post_excerpt"></p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
